{% load static %}



<section class="showcase">

<div class="separator-line"></div>



<div class="showcase-title">

<span class="subtitle">Experience</span>

<h2>Our Atmosphere</h2>

<p>Feel the energy of our club</p>

</div>


<div class="showcase-container">

<div class="showcase-row row-reverse">

<div class="showcase-track">

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-2.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-1.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-1.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-2.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-3.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-3.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-4.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-4.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-5.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-5.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/gym-6.jpg' %}" class="theme-img dark-img" alt="Gym">

<img src="{% static 'fitness/images/gym-light-6.jpg' %}" class="theme-img light-img" alt="Gym Light">

</div>

</div>

</div>



<div class="showcase-row">

<div class="showcase-track">

<div class="img-wrapper">

<img src="{% static 'fitness/images/trainer.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/trainer-light.jpg' %}" class="theme-img light-img">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/crossfit.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/crossfit-light.jpg' %}" class="theme-img light-img">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/he.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/he-light.jpg' %}" class="theme-img light-img">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/train.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/train-light.jpg' %}" class="theme-img light-img">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/fit.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/fit-light.jpg' %}" class="theme-img light-img">

</div>

<div class="img-wrapper">

<img src="{% static 'fitness/images/Máquinas.jpg' %}" class="theme-img dark-img">

<img src="{% static 'fitness/images/machines-light.jpg' %}" class="theme-img light-img">

</div>

</div>

</div>

</div>

</section> 